;/////////////////////////////////////////////////////////////////////////////
;[key_ras]
;/////////////////////////////////////////////////////////////////////////////
[key_rsa]
key=Trustkey
key=NOTWORLD_KEY
key=PRIMARY_DEBUG_KEY
key=SCPFirmwareContentCertPK
key=SecondaryDebugCertPK
key=SoCFirmwareContentCert_KEY
key=TrustedFirmwareContentCertPK
key=TWORLD_KEY
key=NonTrustedFirmwareContentCertPK
key=Trustkey_1

[toc0]
;item=Item_TOC_name,	    	 Item_filename,		  		Key_Name
item=toc0, 					     sboot.bin,		    	    Trustkey

[toc0_key_ladder]
;item=Item_TOC_name,	    	 Item_filename,		  		Key_Name
item=key_item_bin, 			     Trustkey,		    	    Trustkey_1
item=toc0, 					     sboot.bin,		    	  	Trustkey_1

[toc1]
;item=Item_TOC_name,	    	 Item_filename,		  		Key_Name
rootkey=rootkey, 		 rootkey.der,		    	Trustkey_1
item=scp,                scp.fex,                   SCPFirmwareContentCertPK
item=monitor,			     monitor.fex,			TrustedFirmwareContentCertPK
item=optee,              optee.fex,                 SCPFirmwareContentCertPK
onlykey=boot,            boot.fex,          		SCPFirmwareContentCertPK
onlykey=recovery,		recovery.fex,				SCPFirmwareContentCertPK
item=u-boot,			 u-boot.fex,				NonTrustedFirmwareContentCertPK
onlydata=parameter,          parameter.fex,         NULL
onlydata=soc-cfg,            config.fex             NULL
onlydata=dtb,                sunxi.fex              NULL
onlydata=board-cfg,          board.fex              NULL
onlydata=board-fex,          board_config.fex        NULL
onlydata=esm-img,            esm.fex                NULL
onlylogo=logo,               bootlogo.bmp.lzma          NULL
;onlylogo=shutdowncharge,     bempty.bmp.lzma            NULL
;onlylogo=androidcharge,      battery_charge.bmp.lzma    NULL

