#
# Allwinner sunXi SoC drivers
#
config SUNXI_BOOTUP_EXTEND
       bool "support ir bootup feature"
       depends on SUNXI_ARISC && RTC_DRV_SUNXI
       default y
       help
         support ir bootup feature.
         but must has the module known as "ar100" or "cpus".
         the feature is support power up with ir when poweroff.
